#submit{
    margin:20px;

}
#sort{
    margin:20px;
    display:none;
}
input{
    margin:10px;
}
body{
    background-color: aquamarine;
    text-align: center;
}
#output{
    background-color:cadetblue;
    width: 80%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: 10px;
    border-style:ridge;
    border-color:blanchedalmond;
    border-radius: 40px;
}
#out_join{
    background-color:rebeccapurple;
    width: 80%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: 3px;
    border-style: groove;
    border-color:blanchedalmond;
    border-radius: 40px;
}
